@{
    ViewData["Title"] = "Create Circle Page";
}

<div class="fb-container">
    <h1>Create circles</h1>
    <form method="post">
        <div>
            <label for="Name">Name:</label>
            <input type="text" name="Name" value=""/>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
