@model List<Data.Entities.Circle>

@{
    ViewData["Title"] = "Circle Page";
}

<div class="fb-container">
    <h1>Circles</h1>
    <h3>
        <a asp-action="Create">Create new Circle</a>
    </h3>

    @foreach (var circle in Model)
    {
        <div class="fb-container__item">
            <h3>@circle.Name</h3>
            
            <a href="/Circle/Subscribe/@circle.Id" class="fb-container__item__bottomright">Join this circle</a>
        </div>
    }
</div>
