@model List<Data.Entities.Circle>

@{
    ViewData["Title"] = "Circle Page";
}

<div class="fb-container">
    <h1>Circles</h1>
    <h3>
        <a asp-action="Create">Create new Circle</a>
    </h3>

    @foreach (var circle in Model)
    {
        <div class="fb-container__item">
            <h3>@circle.Name</h3>
            @if(Program.CurrentUser != null) {
                @if(!circle.UserIds.Contains(Program.CurrentUser)){
                    <a href="/Circle/Subscribe/@circle.Id" class="fb-container__item__bottomright">Join this circle</a>
                } else
                {
                    <a href="/Circle/@circle.Id" class="fb-container__item__bottomright">Go to wall</a>
                
                }
            }
        </div>
    }
</div>
