@model List<Data.Entities.Post>

@{
    ViewData["Title"] = "Feed Page";
}


<h3>Create post</h3>


<form asp-controller="CreatePost"  asp-action="CreatePost">
    
    
    
    <div class="form-group" id="imagePathButtons" >
        <label>ContentType:</label>
        <input type="radio" for="ContentType" onclick="toggleVisibilityOfDiv()" name="ContentType" value="Text" checked /> Text post
        <input type="radio" for="ContentType" onclick="toggleVisibilityOfDiv()" name="ContentType" value="Image" /> Image post 
    </div>
    
    <div class="form-group">
        <label>Text:</label>
        <input type="text" class="form-control input-lg"  id="text" name="text" placeholder="What's on your mind?..."/>
    </div>
    
    <div class="form-group" id="imagePathInput" style="display:none">
        <label>ImageLink (http link)</label> 
        <input type="text" class="form-control input-lg" id="imagePath" name="imagePath" placeholder="Put link to image here"/>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Post!" class="btn btn-primary">
    </div>
    
    <div class="form-group">
        <input type="hidden" class="form-control" id="requestingView" name="requestingView"  value="Index"/>
    </div>
    
    <div class="form-group" >
        <input type="hidden" class="form-control" id="controllerOfRequestingView" name="controllerOfRequestingView" value="Feed"/>
    </div>
    
    <div class="form-group" >
        <input type="hidden" class="form-control" id="circleId" name="circleId"/>
    </div>
    
    <div class="form-group" >
            <input type="hidden" class="form-control" id="circleName" name="circleName"/>               
    </div>



</form>    

<script >
    function toggleVisibilityOfDiv()
    {
        let imagePathButtons = document.getElementsByName("ContentType",);
        let imagePathInput = document.getElementById("imagePathInput");
        
        let contentType = document.querySelector('input[name = "ContentType"]:checked').value;
        
        if ( contentType === "Text"){
            imagePathInput.style.display = "none";
        }
        else if (contentType === "Image"){
            imagePathInput.style.display = "block";
        }            
    }
</script>



<div class="fb-container">
    <h3>Feed</h3>
    @foreach (var post in Model)
    {
        @await Html.PartialAsync("_PostPartial", post);
    }
</div>