@model List<Data.Entities.Post>

@{
    ViewData["Title"] = "Feed Page";
}

<div class="fb-container">
    <h3>Feed</h3>
    @foreach (var post in Model)
    {
        @await Html.PartialAsync("_PostPartial", post);
    }
</div>