@model Requests.CreatePostRequest

@{
    ViewData["Title"] = "index0";
}

<h2>Create post</h2>


<form asp-action="CreatePost">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    
    
    <div class="form-group" id="imagePathButtons" >
        <label asp-for="ContentType"></label>
        <input type="radio" asp-for="ContentType" onclick="toggleVisibilityOfDiv()" name="ContentType" value="Text" checked /> Text post
        <input type="radio" asp-for="ContentType" onclick="toggleVisibilityOfDiv()" name="ContentType" value="Image" /> Image post 
        <span asp-validation-for="ContentType" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Text"></label>
        <input class="form-control input-lg" asp-for="Text"/>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    
    <div class="form-group" id="imagePathInput" style="display:none">
        <label asp-for="ImagePath"></label> 
        <input class="form-control input-lg" asp-for="ImagePath"/>
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Post!" class="btn btn-primary">
    </div>
    
    <div class="form-group">
        <input type="hidden" asp-for="RequestingView" value="Index"/>
    </div>
    
    <div class="form-group" >
        <input type="hidden" asp-for="ControllerOfRequestingView" value="CreatePost"/>
    </div>
    


</form>    

<script >
    function toggleVisibilityOfDiv()
    {
        let imagePathButtons = document.getElementsByName("ContentType",);
        let imagePathInput = document.getElementById("imagePathInput");
        
        let contentType = document.querySelector('input[name = "ContentType"]:checked').value;
        
        if ( contentType === "Text"){
            imagePathInput.style.display = "none";
        }
        else if (contentType === "Image"){
            imagePathInput.style.display = "block";
        }            
    }
</script>